body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: yellow;
    font-size: 18pt;
    font-family: Chiller;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* h1 title styles*/
h1.titlecss {
    background-color: yellow;
    color: black;
    text-align: center;
    font-family: Chiller
}

h3.heading {
    background-color: yellow;
    color: black;
    text-align: center;
}

input.coloring {
    background-color: yellow;
    color: black;
    font-size: medium;
    font-family: Arial;
}

button.coloring {
    background-color: yellow;
    color: black;
    font-size:large;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 400px;
}
