@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h3>Head offices</h3>
<address>
    883 Sekhukhune Street<br />
    Chiawelo Extension 3<br />
    1818<br />
</address>

<address>
    <div class="col-md-2">
        <strong>Support:</strong>
    </div>
    <div class="col-md-10">
        Phone 073 829 6044 <br />
        email <a href="mailto:anele.ngwekazi@gmail.com">anele.ngwekazi@gmail.com</a><br />
    </div>
    <br />
    <div class="col-md-2">
        <strong>Information:</strong>
    </div>
    <div class="col-md-10">
        Phone 071 57308388 <br />
        email <a href="mailto:mvumad@0gmail.com">mvumad@gmail.com</a>
    </div>
</address>
