@{
    ViewData["Title"] = "Contact";
}
<h1 class="titlecss">@ViewData["Title"]</h1>

<div class="col-md-5">
    <h3>Head offices</h3>
    <address>
        7147 Sekhukhune Street<br />
        Chiawelo Extension 3<br />
        1818<br />
    </address>

    <address>

        <div class="col-md-2">
            <strong>Support:</strong>
        </div>
        <div class="col-md-10">
            Phone 073 829 6044 <br />
            email <a href="mailto:anele.ngwekazi@gmail.com">anele.ngwekazi@gmail.com</a><br />
        </div>
        <br />
        <div class="col-md-2">
            <strong>Information:</strong>
        </div>
        <div class="col-md-10">
            Phone 071 57308388 <br />
            email <a href="mailto:mvumad@gmail.com">mvumad@gmail.com</a>
        </div>

    </address>
</div>
<div class="col-md-6">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=7147%20sekhukhune%20street%2C%20soweto&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.bitgeeks.net">bitgeeks</a>
        </div>
    </div>
</div>