@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/Anezile_welcome.jpg" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; padding: 20px 0px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="heading"><strong>Technology Driven Academy</strong></h3>
        <ul>
            <li>We have developed and affordable handheld console that is specially designed to cater for our services,
                Raspberry pi computer and touch screen was created</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="heading"><strong>Services</strong></h3>
        <ul>
            <li>Anezile Academy website offers student management system for students, parents and teachers easily manage their responsibilities</li>
            <li>Online semi-computer generated tutoring system</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="heading"><strong>Platforms Supported</strong></h3>
        <ul>
            <li>The website has been created to using asp.net core, so that it is crossplatform.</li>
            <li>We intend to have crossplatform installable applications that have an offline version.</li>
        </ul>
    </div>
</div>
