################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AnezileAcademy/obj/
/AnezileAcademy/bin/
*.dll