@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="col-md-3">
        <section>
            <img src="~/images/AccessDenied.jpg" class="img-responsive" style="padding: 20px 0px;" />
        </section>
    </div>
    <div class="col-md--4">
        <section>
            <br />
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <br />
            <p class="text-danger">Our Apologies, You do not have access to this resource.</p>
        </section>
    </div>
</header>
