@using AnezileAcademy.Views.Academy

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Academy</a></li>
    <li class="@ManageNavPages.AdditionNavClass(ViewContext)"><a asp-action="Addition">Addition</a></li>
    <li class="@ManageNavPages.SubstractionNavClass(ViewContext)"><a asp-action="Substraction">Substraction</a></li>
</ul>

