@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Teacher list";
}
<h4>@ViewData["Title"]</h4>
<table>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Space</th>
    </tr>
    @foreach (var user in (await UserManager.GetUsersInRoleAsync("Student")))
    {
        <tr><td>@user.FirstName @user.LastName</td></tr>
    }
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}