@{
    ViewData["Title"] = "Exercises";
    ViewData.AddActivePage(ManageNavPages.Exercises);
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}