@{
    ViewData["Title"] = "Academy";
}

<div>
    <img src="~/images/Anezile_welcome.jpg" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; padding: 20px 0px;" />
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Technology Driven Academy</h3>
        <ul>
            <li>we have developed and affordable handheld console that is specially designed to cater for our services</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Services</h3>
        <ul>
            <li>Online computer generated tutoring system</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Platforms Supported</h3>
        <ul>
            <li>All PC operating Systems</li>
        </ul>
    </div>
</div>