@{
    ViewData["Title"] = "Tests";
    ViewData.AddActivePage(AcademyNavPages.Tests);
}

<h4>@ViewData["Title"]</h4>
<input type="month">
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}